html,
body {
  width: 100%;
  height: 100%;
  background-color: blue;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#ballCanvas {
  background: black;
  /*  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;*/
}

.ballContainer {
  height: 100%;
  width: 100%;
  position: relative;
}

canvas {
  display: block;
}
